body { background: #26b127; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 57px; display: flex; }
.block-user-0 { color: #9f69ac; font-size: 18px; margin-bottom: 5px; }
.block-cart-1 { color: #9af9a1; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #3ae7fc; font-size: 13px; margin-bottom: 5px; }
.block-helper-3 { color: #1d8eb; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #ad7bd2; font-size: 13px; margin-bottom: 5px; }